/* Navbar */

.app_navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: black;
    border-bottom: 1px solid grey;
}

.app__navbar--logo{
height: 60px;
width: 140px;
justify-content: flex-start;
align-items: center;
}

.app__navbar--links{
 flex: 1;
display: flex;
justify-content: right;
padding-right: 10px;
align-items: center;
list-style: none;
}

.app__navbar--links li{
    margin: 0 1rem;
    cursor: pointer;
}

a:hover{
    color: grey
}
a {
    text-decoration: none;
    color: inherit;
}

